{:deps {com.monkeyprojects/oci-sign {:mvn/version "0.1.4-SNAPSHOT"}
        com.github.oliyh/martian-httpkit {:mvn/version "0.1.30"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        buddy/buddy-sign {:mvn/version "3.6.1-359"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
 
 :aliases
 {:dev
  {:extra-paths ["dev-resources"]}

  :test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.16"}
                http-kit.fake/http-kit.fake {:mvn/version "0.2.2"}}
   :extra-paths ["test" "dev-resources"]
   :exec-fn monkey.test/all}

  :watch
  {:exec-fn monkey.test/watch}
  
  :junit
  {:exec-fn monkey.test/junit}

  :coverage
  {:exec-fn monkey.test/coverage
   :exec-args {:ns-regex ["monkey.oci.os.*"]}}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.16"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/oci-common.jar"
               :lib "com.monkeyprojects/oci-common"
               :version-env "LIB_VERSION"
               :scm {:url "https://github.com/monkey-projects/oci-common"}}}

  :install
  {:exec-fn monkey.build/jar+install}

  :publish
  {:exec-fn monkey.build/jar+deploy}}}
